/* 全局样式表 */
html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* // 给父类添加一个 clearfix */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

